.home{
  max-width: 960px;
  background-color: #fafafa;
  margin: auto;
  display: grid;
  height: fit-content;
}

.menu {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  background-color: #F0F0F0;
  width: 100%;
}

.button {
  float: right;
  margin: 5px;
  display:flex;
  flex-direction:column;
}

.logo{
  width: 70%;
  height: auto;
  display:flex;
  flex-direction:column;
}

.content {
  display: flex;
}

.articles {
  width: 50%;
}

.books {
  flex-grow: 1;
  max-width: 68%;
}

.reservations {
  flex-grow: 1;
}

.article {
  padding: 25px;
}
